title: Dropbox
thumbnail: /static/images/image-thumbnail-db.png
tags: Image
date: 01-01-2016

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

<div class="post-content">
  <p class="project-header"><a href="">Dropbox</a></p>
  <p class="project-content">
    As head of Product Design, I helped grow the design team from around 10 to around 90, shipped multiple products, and actually helped real humans get stuff done. I built and led teams responsible for the design of Dropbox Paper, Mailbox, Dropbox for Business, and Dropbox proper amongst others. <br><br>It was note entirely unlike an episode of Silicon Valley.
  </p>
  <p>My all-time favorite moment:<br><a>Revealing Dropbox Paper</a><br></p>
</div>
{% endfilter %}
{% endblock body %}
