title: Dropbox
thumbnail: /static/images/image-thumbnail-db.png
tags: Image
date: 01-01-2016

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

<div class="post-content">
  <p class="project-header"><a target="_blank" href="http://www.dropbox.com">Dropbox</a></p>
  <p class="project-content">
    As head of Product Design I directed a group of over 30 product designers, shipped multiple products, and made software that actually helps real humans get meaningful stuff done. I built and led teams responsible for the design of Dropbox Paper, Mailbox, Dropbox for Business, and Dropbox proper amongst others. <br><br>It was note entirely unlike an episode of Silicon Valley.
  </p>
  <p><a href="http://www.dropbox.com" target="_blank">Dropbox</a><br><a href="http://paper.dropbox.com" target="_blank">Dropbox Paper</a><br><a href="http://www.mailboxapp.com" target="_blank">Mailbox</a><br><a href="http://www.dropbox.com/business" target="_blank">Dropbox for Business</a><br></p>
</div>
{% endfilter %}
{% endblock body %}
