title: Dropbox
thumbnail: /static/images/image-thumbnail-db.png
tags: Image
date: 01-01-2016

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

<div class="post-content">
  <p class="project-header"><a href="">Dropbox</a></p>
  <p class="project-content">Tony led the Product Design team at Dropbox, directing an incredible team of thirty designers collectively responsible for Dropbox, Dropbox Paper, Mailbox, and other initiatives. </p>
  <br>
  <p>Project, Press, Etc<br><a>Mailbox for Desktop</a><br><a>Mailbox for Desktop</a></p>
</div>
{% endfilter %}
{% endblock body %}
