title: Dropbox
thumbnail: /static/images/image-thumbnail-mailbox@2x.png
tags: Image
date: 01-01-2015

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

<div class="post-content">
  <p class="project-header"><a href="">Mailbox</a></p>
  <p class="project-content">During 2014 I led design for the beloved email app Mailbox, working with the original team to build and ship Mailbox for Desktop, Android, and iOS. We were obsessed with making the difficult simple.<br><br>I still don't believe there's a worthy replacement out there.</p>
  <p>A couple of nice things the press said:<br><a>Mailbox for Desktop</a><br><a>Mailbox 2.0</a></p>
</div>
{% endfilter %}
{% endblock body %}
