title: Dropbox
thumbnail: /static/images/image-thumbnail-mailbox.png
tags: Image
date: 01-01-2015

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

<div class="post-content">
  <p class="project-header"><a target="_blank" href="http://www.mailboxapp.com">Mailbox</a></p>
  <p class="project-content">During 2014 I led design for the beloved email app Mailbox, and worked with the original team to build and ship Mailbox for Desktop, Android, and iOS. We were obsessed with making the difficult simple, and really kicking email in the ass.<br><br>I still don't believe there's a worthy replacement out there.</p>
  <p><a href="http://www.theverge.com/2014/8/19/6031985/mailbox-for-mac-app-beta-review" target="_blank">Mailbox for Desktop </a><br><a target="_blank" href="http://www.fastcodesign.com/3034538/how-mailbox-brought-its-awesome-smartphone-gestures-to-the-desktop">How we brought swipes to desktop</a><br><a target="_blank" href="http://www.engadget.com/2014/04/22/mailbox-auto-swipe-ios/">Mailbox 2.0 with Auto Swipe</a><br><a target="_blank" href="http://techcrunch.com/2014/04/09/mailbox-android-desktop/">Mailbox for Android</a></p>
</div>
{% endfilter %}
{% endblock body %}
