title: Dropbox
thumbnail: /static/images/image-thumbnail-medialab.png
tags: Image
date: 01-01-2013

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

<div class="post-content">
  <p class="project-header"><a href="">MIT Media Lab</a></p>
  <p class="project-content">I studied as a graduate student and assistant researcher with Professor Hiroshi Ishii and the Tangible Media Group at the MIT Media Lab from 2010-2012. This was one of the most formative (and lucky) experiences of my career.</p>
  <p>We made some really fun stuff:<br><a>Shape shifting displays</a><br><a>Hyper-local marketplaces</a><br><a>Mapping Urban Perception</a><br><a>Crowd sourced radiation mapping</a></p>
</div>

{% endfilter %}
{% endblock body %}
