title: Dropbox
thumbnail: /static/images/image-thumbnail-medialab.png
tags: Image
date: 01-01-2013

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

<div class="post-content">
  <p class="project-header"><a href="">MIT Media Lab</a></p>
  <p class="project-content">Tony led the Product Design team at Dropbox, directing an incredible team of thirty designers collectively responsible for Dropbox, Dropbox Paper, Mailbox, and other initiatives. </p>
  <br>
  <p>Project, Press, Etc<br><a>Mailbox for Desktop</a><br><a>Mailbox for Desktop</a></p>
</div>
Displays images in a grid, with individual pages optionally describing the image in detail, or displaying more images. Images have a max-width of 400 pixels by default.

{% endfilter %}
{% endblock body %}
