title: Dropbox
thumbnail: /static/images/image-thumbnail-medialab.png
tags: Image
date: 01-01-2013

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

<div class="post-content">
  <p class="project-header"><a href="http://media.mit.edu" target="_blank">MIT Media Lab</a></p>
  <p class="project-content">I studied as a graduate student and assistant researcher with Professor Hiroshi Ishii and the Tangible Media Group at the MIT Media Lab from 2010-2012. This was one of the most formative (and lucky) experiences of my career.</p>
  <p>We made some really fun, and interesting stuff.<br><br><a href="http://www.fastcodesign.com/1663229/mits-recompose-is-a-touch-screen-keyboard-and-3-d-display-video" target="_blank">Shape shifting displays</a><br><a target="_blank" href="http://thenextweb.com/apps/2012/03/02/peddl-takes-on-zaarly-taskrabbit-craigslist-with-a-new-local-marketplace/#gref">Hyper-local marketplaces</a><br><a target="_blank" href="http://www.theguardian.com/artanddesign/2011/aug/19/place-pulse-website-city-safety">Mapping Urban Perception</a><br><a target="_blank" href="http://www.scientificamerican.com/citizen-science/safecast-open-information/">Crowd sourced radiation mapping</a></p>
</div>

{% endfilter %}
{% endblock body %}
