title: Dropbox
thumbnail: /static/images/image-thumbnail-sold.png
tags: Image
date: 01-01-2014

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

<!-- <iframe class="sold-video" src="http://player.vimeo.com/video/57699192?title=0&byline=0&portrait=0&color=ffffff" width="800" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->
<div class="post-content">
  <p class="project-header"><a target="_blank" href="http://www.usesold.com">Sold.</a></p>
  <p class="project-content">Sold was a service and iOS/Android app that took over the burden of selling. With a few photos and a description, our pricing calculator would determine the perfect price for your item. From there we handled the selling, the shipping, and the payment. Our goal was always to get you paid so you could go on about your life. And/or live your wildest dreams.</p>
  <p>I co-founded Sold. with a couple of close friends from The Media Lab in 2012. It was acquired by Dropbox in 2013</p>
  <p><a target="_blank" href="http://www.wired.com/2013/05/one-click-selling/">Wired on the launch of Sold.</a><br><a target="_blank" href="http://techcrunch.com/2013/09/24/sold-the-app-that-sells-your-stuff-for-you-arrives-on-android/">Sold for Android</a><br><a target="_blank" href="http://techcrunch.com/2013/11/04/dropbox-snatches-up-sold-the-service-that-simplifies-selling-online-to-help-it-build-a-new-mystery-ecommerce-product/">News about the Dropbox acquisition</a></p>
</div>


{% endfilter %}
{% endblock body %}
