{% extends "base.html" %}
{% block content %}

	<section id="wrapper">
		<header id="header">
			<h1 class="home">{% block title %}<div class="slotmachine">{{ block.super }}</div>{% endblock title %}</h1>
			<p class="title">Tony DeVincenzi builds products. He was previously head of product design at Dropbox, design lead for Mailbox, Founder at Sold, and MIT Media Lab alum. <a href="mailto:tonydev@gmail.com">Get in touch.</a></p>
		</header>

		<section id="thumbnails" class="clearfix">
			{% for post in posts %}
				<a href='/{{ post.path }}'>
					<img class="2x" width="300" height="300" src="{{ post.thumbnail }}"/>
					<span>{{ post.title }}</span>
				</a>
			{% endfor %}
		</section>

	</section>


{% endblock content %}
