{% extends "base.html" %}
{% block content %}

	<section id="wrapper">
		<header id="header">
			<h1>{% block title %}{{ block.super }}{% endblock title %}</h1>
		</header>

		<a id="docs" href="http://cactusformac.com/redirect/#documentation">Documentation</a>

		<section id="thumbnails" class="clearfix">
			{% for post in posts %}
				<a href='/{{ post.path }}'>
					<img class="2x" width="300" height="300" src="{{ post.thumbnail }}"/>
					<span>{{ post.title }}</span>
				</a>
			{% endfor %}
		</section>

		{% block footer %}
			<footer id="footer">
				<p class="small">A short description.</p>
			</footer>
		{% endblock footer %}
	</section>

	<a href="http://cactusformac.com/?utm_source=templates&utm_medium=badge&utm_campaign=portfolio-template"><img id="badge" class="2x" src="{% static '/images/badge.png' %}"/></a>
	
{% endblock content %}
