{% extends "base.html" %}
{% block content %}

	<section id="wrapper">
		<header id="header">
			<h1 class="home"><div class="slotmachine">{% block title %}{{ block.super }}{% endblock title %}</div></h1>
			<p class="title">Hi. I'm Tony and I build products. Most recently I was head of Product Design at Dropbox. Previously Mailbox design, founder at Sold, and MIT Media Lab alum. <br><a href="mailto:tonydev@gmail.com">Get in touch.</a></p>
		</header>

		<section id="thumbnails" class="clearfix">
			{% for post in posts %}
				<a href='/{{ post.path }}'>
					<img class="2x" width="300" height="300" src="{{ post.thumbnail }}"/>
					<span>{{ post.title }}</span>
				</a>
			{% endfor %}
		</section>

	</section>


{% endblock content %}
